In [1]:
import pandas as pd
import numpy as np

### CLUSTERING FOR QUEENS

In [2]:
data = pd.read_csv('queens.csv')
data

   Unnamed: 0  community  population  FELONY  MISDEMEANOR  VIOLATION
0          30        401      211220    2670         5374     1351.0
1          31        402      109920    1211         2525      828.0
2          32        403      169083    2365         4243     1176.0
3          33        404      167005    1573         3442      687.0
4          34        405      165911    1559         3280      964.0
5          35        406      115967     723         1874      386.0
6          36        407      242952    2085         4558     1381.0
7          37        409      141608    1205         2632      842.0
8          38        410      127274    1591         3031      902.0

In [3]:
del data[data.columns[0]]

In [4]:
data

   community  population  FELONY  MISDEMEANOR  VIOLATION
0        401      211220    2670         5374     1351.0
1        402      109920    1211         2525      828.0
2        403      169083    2365         4243     1176.0
3        404      167005    1573         3442      687.0
4        405      165911    1559         3280      964.0
5        406      115967     723         1874      386.0
6        407      242952    2085         4558     1381.0
7        409      141608    1205         2632      842.0
8        410      127274    1591         3031      902.0

In [5]:
data.FELONY = data.FELONY / data.population
data.MISDEMEANOR = data.MISDEMEANOR / data.population
data.VIOLATION = data.VIOLATION / data.population
data

   community  population    FELONY  MISDEMEANOR  VIOLATION
0        401      211220  0.012641     0.025443   0.006396
1        402      109920  0.011017     0.022971   0.007533
2        403      169083  0.013987     0.025094   0.006955
3        404      167005  0.009419     0.020610   0.004114
4        405      165911  0.009397     0.019770   0.005810
5        406      115967  0.006235     0.016160   0.003329
6        407      242952  0.008582     0.018761   0.005684
7        409      141608  0.008509     0.018587   0.005946
8        410      127274  0.012501     0.023815   0.007087

In [6]:
data = data[['community','FELONY','MISDEMEANOR','VIOLATION']]

In [7]:
data

   community    FELONY  MISDEMEANOR  VIOLATION
0        401  0.012641     0.025443   0.006396
1        402  0.011017     0.022971   0.007533
2        403  0.013987     0.025094   0.006955
3        404  0.009419     0.020610   0.004114
4        405  0.009397     0.019770   0.005810
5        406  0.006235     0.016160   0.003329
6        407  0.008582     0.018761   0.005684
7        409  0.008509     0.018587   0.005946
8        410  0.012501     0.023815   0.007087

In [8]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
score = {}
x = data.iloc[:,1:]
for i in range(2,5):
    km = KMeans(random_state=999,n_clusters=i)
    res=km.fit(x)
    labels = res.labels_
    score[i] = silhouette_score(x, labels)
    print("For n_clusters = {},".format(i)+" the silhouette_score is : {}".format(score[i]))
print('The choosen number of clusters is {}'.format([n for n in score.keys() if score[n]==max(score.values())][0]))

km = KMeans(random_state=999,n_clusters=[n for n in score.keys() if score[n]==max(score.values())][0])
res=km.fit(x)

For n_clusters = 2, the silhouette_score is : 0.625813970971
For n_clusters = 3, the silhouette_score is : 0.560748285737
For n_clusters = 4, the silhouette_score is : 0.429985909848
The choosen number of clusters is 2

In [9]:
data['labels'] = res.labels_
data

   community    FELONY  MISDEMEANOR  VIOLATION  labels
0        401  0.012641     0.025443   0.006396       0
1        402  0.011017     0.022971   0.007533       0
2        403  0.013987     0.025094   0.006955       0
3        404  0.009419     0.020610   0.004114       1
4        405  0.009397     0.019770   0.005810       1
5        406  0.006235     0.016160   0.003329       1
6        407  0.008582     0.018761   0.005684       1
7        409  0.008509     0.018587   0.005946       1
8        410  0.012501     0.023815   0.007087       0

In [10]:
 data.to_csv('queens_cluster.csv')

### CLUSTERING FOR MANHATTAN

In [16]:
data = pd.read_csv('manhattan.csv')
data

    Unnamed: 0  community  population  FELONY  MISDEMEANOR  VIOLATION
0            0        101       34420    1462         3155      677.0
1            1        102       93119    2649         5083      653.0
2            2        103      164407    2843         6105     1187.0
3            3        104       87479    2873         5265     1062.0
4            4        105       44028    5112         9320     1291.0
5            5        106      136152    1920         3227      766.0
6            6        107      207699    2345         5065     1167.0
7            7        108      217063    2203         3210      657.0
8            8        109      111724    1589         3614      917.0
9            9        110      107109    2750         7110     1625.0
10          10        111      117743    2903         7694     1548.0
11          11        112      208414    2708         5657     1117.0

In [17]:
del data[data.columns[0]]

In [18]:
data.FELONY = data.FELONY / data.population
data.MISDEMEANOR = data.MISDEMEANOR / data.population
data.VIOLATION = data.VIOLATION / data.population
data

    community  population    FELONY  MISDEMEANOR  VIOLATION
0         101       34420  0.042475     0.091662   0.019669
1         102       93119  0.028447     0.054586   0.007013
2         103      164407  0.017292     0.037133   0.007220
3         104       87479  0.032842     0.060186   0.012140
4         105       44028  0.116108     0.211683   0.029322
5         106      136152  0.014102     0.023701   0.005626
6         107      207699  0.011290     0.024386   0.005619
7         108      217063  0.010149     0.014788   0.003027
8         109      111724  0.014223     0.032348   0.008208
9         110      107109  0.025675     0.066381   0.015171
10        111      117743  0.024655     0.065346   0.013147
11        112      208414  0.012993     0.027143   0.005360

In [19]:
data = data[['community','FELONY','MISDEMEANOR','VIOLATION']]

In [20]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
score = {}
x = data.iloc[:,1:]
for i in range(2,5):
    km = KMeans(random_state=999,n_clusters=i)
    res=km.fit(x)
    labels = res.labels_
    score[i] = silhouette_score(x, labels)
    print("For n_clusters = {},".format(i)+" the silhouette_score is : {}".format(score[i]))
print('The choosen number of clusters is {}'.format([n for n in score.keys() if score[n]==max(score.values())][0]))

km = KMeans(random_state=999,n_clusters=[n for n in score.keys() if score[n]==max(score.values())][0])
res=km.fit(x)

For n_clusters = 2, the silhouette_score is : 0.760892561581
For n_clusters = 3, the silhouette_score is : 0.619406188705
For n_clusters = 4, the silhouette_score is : 0.593754878275
The choosen number of clusters is 2

In [21]:
data['labels'] = res.labels_
data

    community    FELONY  MISDEMEANOR  VIOLATION  labels
0         101  0.042475     0.091662   0.019669       1
1         102  0.028447     0.054586   0.007013       1
2         103  0.017292     0.037133   0.007220       1
3         104  0.032842     0.060186   0.012140       1
4         105  0.116108     0.211683   0.029322       0
5         106  0.014102     0.023701   0.005626       1
6         107  0.011290     0.024386   0.005619       1
7         108  0.010149     0.014788   0.003027       1
8         109  0.014223     0.032348   0.008208       1
9         110  0.025675     0.066381   0.015171       1
10        111  0.024655     0.065346   0.013147       1
11        112  0.012993     0.027143   0.005360       1

In [23]:
data1 = data[data['labels'] == 0]
data1

   community    FELONY  MISDEMEANOR  VIOLATION  labels
4        105  0.116108     0.211683   0.029322       0

In [24]:
data2 = data[data['labels'] == 1]
data2

    community    FELONY  MISDEMEANOR  VIOLATION  labels
0         101  0.042475     0.091662   0.019669       1
1         102  0.028447     0.054586   0.007013       1
2         103  0.017292     0.037133   0.007220       1
3         104  0.032842     0.060186   0.012140       1
5         106  0.014102     0.023701   0.005626       1
6         107  0.011290     0.024386   0.005619       1
7         108  0.010149     0.014788   0.003027       1
8         109  0.014223     0.032348   0.008208       1
9         110  0.025675     0.066381   0.015171       1
10        111  0.024655     0.065346   0.013147       1
11        112  0.012993     0.027143   0.005360       1

In [25]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
score = {}
x = data2.iloc[:,1:-1]
for i in range(2,5):
    km = KMeans(random_state=999,n_clusters=i)
    res=km.fit(x)
    labels = res.labels_
    score[i] = silhouette_score(x, labels)
    print("For n_clusters = {},".format(i)+" the silhouette_score is : {}".format(score[i]))
print('The choosen number of clusters is {}'.format([n for n in score.keys() if score[n]==max(score.values())][0]))

km = KMeans(random_state=999,n_clusters=[n for n in score.keys() if score[n]==max(score.values())][0])
res=km.fit(x)

For n_clusters = 2, the silhouette_score is : 0.675715842224
For n_clusters = 3, the silhouette_score is : 0.647732594482
For n_clusters = 4, the silhouette_score is : 0.498368296062
The choosen number of clusters is 2

In [26]:
data2['labels'] = res.labels_

D:\ana\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
data2

    community    FELONY  MISDEMEANOR  VIOLATION  labels
0         101  0.042475     0.091662   0.019669       0
1         102  0.028447     0.054586   0.007013       0
2         103  0.017292     0.037133   0.007220       1
3         104  0.032842     0.060186   0.012140       0
5         106  0.014102     0.023701   0.005626       1
6         107  0.011290     0.024386   0.005619       1
7         108  0.010149     0.014788   0.003027       1
8         109  0.014223     0.032348   0.008208       1
9         110  0.025675     0.066381   0.015171       0
10        111  0.024655     0.065346   0.013147       0
11        112  0.012993     0.027143   0.005360       1

In [39]:
data1 = data1.replace(0, 2)
data1

   community    FELONY  MISDEMEANOR  VIOLATION  labels
4        105  0.116108     0.211683   0.029322       2

In [41]:
data2 = pd.concat([data2, data1])
data2

    community    FELONY  MISDEMEANOR  VIOLATION  labels
0         101  0.042475     0.091662   0.019669       0
1         102  0.028447     0.054586   0.007013       0
2         103  0.017292     0.037133   0.007220       1
3         104  0.032842     0.060186   0.012140       0
5         106  0.014102     0.023701   0.005626       1
6         107  0.011290     0.024386   0.005619       1
7         108  0.010149     0.014788   0.003027       1
8         109  0.014223     0.032348   0.008208       1
9         110  0.025675     0.066381   0.015171       0
10        111  0.024655     0.065346   0.013147       0
11        112  0.012993     0.027143   0.005360       1
4         105  0.116108     0.211683   0.029322       2

In [84]:
data2.to_csv('Manhattan_cluster.csv')

### CLUSTERING FOR BROOKLYN

In [42]:
data = pd.read_csv('brooklyn.csv')
data

    Unnamed: 0  community  population  FELONY  MISDEMEANOR  VIOLATION
0           12        301      160338    2822         5658     1399.0
1           13        302       98620    2541         5561     1294.0
2           14        303      143867    3614         6433     1850.0
3           15        304      104358    1991         3631      915.0
4           16        305      173198    4306         7927     2122.0
5           17        306      104054    1465         2927      596.0
6           18        307      120063    1405         3052      622.0
7           19        308       96076    1612         3405      858.0
8           20        309      104014    1681         3316      921.0
9           21        310      122542    1197         2963      624.0
10          22        311      172129    1449         3017      693.0
11          23        312      185046    1034         2218      545.0
12          24        313      106120    1267         3524      761.0
13          25        314      168806    1926         4097      931.0
14          26        315      160319    1539         3165      625.0
15          27        316       85343    2458         4738     1345.0
16          28        317      165753    2797         4590     1579.0
17          29        318      194653    2646         4637     1421.0

In [43]:
del data[data.columns[0]]

In [44]:
data.FELONY = data.FELONY / data.population
data.MISDEMEANOR = data.MISDEMEANOR / data.population
data.VIOLATION = data.VIOLATION / data.population
data

    community  population    FELONY  MISDEMEANOR  VIOLATION
0         301      160338  0.017600     0.035288   0.008725
1         302       98620  0.025766     0.056388   0.013121
2         303      143867  0.025120     0.044715   0.012859
3         304      104358  0.019079     0.034794   0.008768
4         305      173198  0.024862     0.045768   0.012252
5         306      104054  0.014079     0.028130   0.005728
6         307      120063  0.011702     0.025420   0.005181
7         308       96076  0.016778     0.035441   0.008930
8         309      104014  0.016161     0.031880   0.008855
9         310      122542  0.009768     0.024179   0.005092
10        311      172129  0.008418     0.017528   0.004026
11        312      185046  0.005588     0.011986   0.002945
12        313      106120  0.011939     0.033208   0.007171
13        314      168806  0.011410     0.024270   0.005515
14        315      160319  0.009600     0.019742   0.003898
15        316       85343  0.028801     0.055517   0.015760
16        317      165753  0.016875     0.027692   0.009526
17        318      194653  0.013593     0.023822   0.007300

In [45]:
data = data[['community','FELONY','MISDEMEANOR','VIOLATION']]

In [46]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
score = {}
x = data.iloc[:,1:]
for i in range(2,5):
    km = KMeans(random_state=999,n_clusters=i)
    res=km.fit(x)
    labels = res.labels_
    score[i] = silhouette_score(x, labels)
    print("For n_clusters = {},".format(i)+" the silhouette_score is : {}".format(score[i]))
print('The choosen number of clusters is {}'.format([n for n in score.keys() if score[n]==max(score.values())][0]))

km = KMeans(random_state=999,n_clusters=[n for n in score.keys() if score[n]==max(score.values())][0])
res=km.fit(x)

For n_clusters = 2, the silhouette_score is : 0.632450596786
For n_clusters = 3, the silhouette_score is : 0.529627708228
For n_clusters = 4, the silhouette_score is : 0.502730680288
The choosen number of clusters is 2

In [47]:
data['labels'] = res.labels_
data

    community    FELONY  MISDEMEANOR  VIOLATION  labels
0         301  0.017600     0.035288   0.008725       1
1         302  0.025766     0.056388   0.013121       0
2         303  0.025120     0.044715   0.012859       0
3         304  0.019079     0.034794   0.008768       1
4         305  0.024862     0.045768   0.012252       0
5         306  0.014079     0.028130   0.005728       1
6         307  0.011702     0.025420   0.005181       1
7         308  0.016778     0.035441   0.008930       1
8         309  0.016161     0.031880   0.008855       1
9         310  0.009768     0.024179   0.005092       1
10        311  0.008418     0.017528   0.004026       1
11        312  0.005588     0.011986   0.002945       1
12        313  0.011939     0.033208   0.007171       1
13        314  0.011410     0.024270   0.005515       1
14        315  0.009600     0.019742   0.003898       1
15        316  0.028801     0.055517   0.015760       0
16        317  0.016875     0.027692   0.009526       1
17        318  0.013593     0.023822   0.007300       1

In [48]:
 data.to_csv('brooklyn_cluster.csv')